<div class="main">
	<div class="header">
		<div>
			<form> 
				<input type="text" name="firstname" placeholder="Enter my blog name">
				<input type="submit" value="GO">
			</form>
		</div>
	</div>
	<div class="main">
		<div class="left">
			
			<div class="cell"><img src="./images/blog.png"/><a href="#">1</a></div>
			<div class="cell"><img src="./images/blog.png"/><a href="#">2</a></div>
			
		</div>
		<div class="right">

		</div>
		
	</div>
	<div class="footer"></div>

</div>